@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lobster&family=M+PLUS+Rounded+1c&display=swap');
.agendaAdm {
    display: flex;
    align-items: center;
    justify-content: center;

    .agendamento {
        display: flex;
        flex-direction: column;
        background-color: aliceblue;
        width: 96%;
        height: 90dvh;
        margin-top: 5dvh;
        border-radius: 2dvh;
        box-shadow: 0 8px 150px rgba(0, 0, 0, 0.3);
        

        .topo {
            display: flex;    
            flex-direction: row;
            justify-content: center; 
            align-items: center;
            width: 100%;
            
            .casa {
                height: 5dvh;
                width: 5dvh;
                margin-left: 3dvh; 
                margin-top: 0.5dvh;
                transition: transform 0.3s ease;
        
                &:hover {
                    transform: scale(1.1);
                }
            }
            
            .HM {
                margin-bottom: 1.7dvh;
                font-family: "M PLUS Rounded 1c", serif;
                font-weight: 600;
                font-style: normal;
                color: #5E1481;
                font-size: 3.5dvh;
                display: flex;    
                justify-content: center;
                align-items: center;
                flex-grow: 1; 
                margin-left: 0;
            }
        }
        
        
        
        
        
        .content {
            display: flex;
            width: 100%;
            justify-content: center;
        

        .esq {
            width: 50%;
            display: flex;
            align-items: center;
            flex-direction: column;
            overflow-y: auto; 
             max-height: 80dvh;
            h1{
                font-family: "M PLUS Rounded 1c", serif;
                font-weight: 600;
                font-style: normal;
            }
            .cards {
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                background-color: #cfcfcf;
                width: 65%;
                height: 14dvh;
                border-radius: 0.8dvh;
                margin-top: 3dvh;
                display: flex;
                flex-direction: column;
                .info { 
                    justify-content: space-between; 
                    padding: 1.3dvh; 
                    display: flex;
                    flex-direction: row;
                    .nome-hora {
                        .nome{
                            font-family: 'Roboto', sans-serif;
                            font-weight: 600;
                            font-size: 1.7dvh;
                        }
                        .hora{
                            margin-top: 1dvh;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 600;
                            font-size: 1.7dvh;
                        }
                    }

                    .servico-valor {
                       .serv{
                            font-family: 'Roboto', sans-serif;
                            font-weight: 600;
                            font-size: 1.8dvh;
                       }
                       .valor{
                            margin-top: 1dvh;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 600;
                            font-size: 2dvh;
                       }
                    }
                }

                .divisao2 {
                    width: 100%; 
                    height: 2px; 
                    background-color: rgba(0, 0, 0, 0.1); 
                    
                }

                .botoes {
                    margin-top: 0.8dvh;
                    margin-bottom: 0.8dvh;
                    .b1 {
                        height: 3.4dvh; 
                        width: 12.5dvh; 
                        border-radius: 1.9dvh; 
                        background-color: #7C57B8;
                        border: none;
                        color: #fff;
                        font-size: 1.7dvh; 
                        font-family: 'Roboto', sans-serif;
                        font-weight: 600;
                        margin-left: 3dvh ;
                        transition: transform 0.3s ease;
                        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                    .b2 {
                        height: 3.4dvh; 
                        width: 12.5dvh; 
                        border-radius: 1.9dvh; 
                        background-color: #7C57B8;
                        border: none;
                        color: #fff;
                        font-size: 1.7dvh; 
                        font-family: 'Roboto', sans-serif;
                        font-weight: 600;
                        transition: transform 0.3s ease;
                        margin-left: 1dvh;
                        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
            }
            
        }

        .divisao {
            width: 2px;
            background-color: rgba(0, 0, 0, 0.1);
            height: 84dvh;
            
        }

        .dir {
            width: 50%;
            display: flex;
            align-items: center;
            flex-direction: column;
            overflow-y: auto; 
             max-height: 80dvh;
            h1{
                font-family: "M PLUS Rounded 1c", serif;
                font-weight: 600;
                font-style: normal;
            }
            .cards {
                background-color: #cfcfcf;
                width: 65%;
                height: 17dvh;
                border-radius: 0.8dvh;
                margin-top: 3dvh;
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                .info {
                    display: flex;
                    justify-content: space-between; 
                    padding: 1.3dvh; 
                    

                    .nome-hora {
                        .nome{
                            font-family: 'Roboto', sans-serif;
                            font-weight: 600;
                            font-size: 1.6dvh;
                        }
                        .hora{
                            margin-top: 1dvh;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 600;
                            font-size: 1.6dvh;
                        }
                        .dia{
                            margin-top: 1dvh;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 600;
                            font-size: 1.6dvh;
                        }
                    }

                    .servico-valor {
                       .serv{
                            font-family: 'Roboto', sans-serif;
                            font-weight: 600;
                            font-size: 1.8dvh;
                       }
                       .valor{
                            margin-top: 1dvh;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 600;
                            font-size: 2dvh;
                       }
                    }
                }

                .divisao2 {
                    width: 100%; 
                    height: 2px; 
                    background-color: rgba(0, 0, 0, 0.1); 

                }

                .botoes {
                    margin-top: 0.8dvh;
                    margin-bottom: 0.8dvh;
                    .b1 {
                        height: 3.4dvh; 
                        width: 12.5dvh; 
                        border-radius: 1.9dvh; 
                        background-color: #7C57B8;
                        border: none;
                        color: #fff;
                        font-size: 1.7dvh; 
                        font-family: 'Roboto', sans-serif;
                        font-weight: 600;
                        transition: transform 0.3s ease;
                        margin-left: 3dvh ;
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                    .b2 {
                        height: 3.4dvh; 
                        width: 12.5dvh; 
                        border-radius: 1.9dvh; 
                        background-color: #7C57B8;
                        border: none;
                        color: #fff;
                        font-size: 1.7dvh; 
                        font-family: 'Roboto', sans-serif;
                        font-weight: 600;
                        transition: transform 0.3s ease;
                        margin-left: 1dvh;
                        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
            }
            
        }
    }
    }
}

@media (max-width: 1178px) {
    .agendaAdm {
        .agendamento {
            .content{
            .esq {
                h1{
                    font-size: 3dvh;
                }
                .cards {
                    width: 65%;
                    height: 20dvh;
                    margin-top: 3dvh;
                    .info { 
                        display: flex;
                        flex-direction: column;
                        .nome-hora {
                            .nome{
                                font-size: 1.7dvh;
                            }
                            .hora{
                                margin-top: 1dvh;
                                font-size: 1.7dvh;
                            }
                        }
                        .servico-valor {
                            margin-top: 1dvh;
                           .serv{
                                font-size: 1.8dvh;
                           }
                           .valor{
                                margin-top: 1dvh;
                                font-size: 2dvh;
                           }
                        }
                    }
                    .divisao2 {
                        width: 100%; 
                        height: 2px; 
                        background-color: rgba(0, 0, 0, 0.1);     
                    }
                    .botoes {
                        margin-top: 0.8dvh;
                        margin-bottom: 0.8dvh;
                        .b2 {
                            height: 3.4dvh; 
                            width: 11.5dvh; 
                            border-radius: 1.9dvh; 
                            font-size: 1.7dvh;
                            margin-left: 1dvh;
                        }
                    }
                }
                
            }
            .dir {
                width: 50%;
                flex-direction: column;
                overflow-y: auto; 
                 max-height: 80dvh;
                h1{
                    font-size: 3dvh;
                }
                .cards {
                    width: 65%;
                    height: 22dvh;
                    margin-top: 3dvh;
                    .info {
                        display: flex;
                        justify-content: space-between; 
                        flex-direction: column;
                        .nome-hora {
                            .nome{
                                font-size: 1.6dvh;
                            }
                            .hora{
                                margin-top: 1dvh;
                                font-size: 1.6dvh;
                            }
                            .dia{
                                margin-top: 1dvh;
                                font-size: 1.6dvh;
                            }
                        }
    
                        .servico-valor {
                            margin-top: 1dvh;
                           .serv{
                                font-size: 1.8dvh;
                                font-weight: 600;
                           }
                           .valor{
                                margin-top: 1dvh;
                                font-size: 2dvh;
                           }
                        }
                    }
    
                    .divisao2 {
                        width: 100%; 
                        height: 2px; 
                        background-color: rgba(0, 0, 0, 0.1); 
                    }
    
                    .botoes {
                        margin-top: 0.8dvh;
                        margin-bottom: 0.8dvh;
                        .b1 {
                            height: 3.4dvh; 
                            width: 12.5dvh; 
                            font-size: 1.7dvh; 
                            margin-left: 3dvh ;
                        }
                        .b2 {
                            height: 3.4dvh; 
                            width: 12.5dvh; 
                            font-size: 1.7dvh; 
                            margin-left: 1dvh;
                        }
                    }
                }
                
            }
        }
        }
    }
}

@media (max-width: 728px) {
    .agendaAdm {
        .agendamento {
            
            .content{
                
                display: flex;
                flex-direction: column;
                height: 80%;
            .esq {
                height: 50%;
                width: 100%;
                overflow-x: auto; 
                h1{
                    font-size: 3dvh;
                }
                .cards {
                    width: 85%;
                    height: 15dvh;
                    margin-top: 3dvh;
                    .info { 
                        display: flex;
                        flex-direction: row;
                        .nome-hora {
                            .nome{
                                font-size: 1.5dvh;
                            }
                            .hora{
                                font-size: 1.5dvh;
                            }
                        }
                        .servico-valor {  
                            margin-top: -0dvh;
                           .serv{
                                font-size: 1.5dvh;
                           }
                           .valor{
                                font-size: 1.8dvh;
                           }
                        }
                    }
                    .botoes {
                        margin-top: 1.5dvh;
                        margin-bottom: 1.5dvh;
                        .b2 {
                            height: 3dvh; 
                            width: 10dvh; 
                            font-size: 1.6dvh;
                        }
                    }
                }
                
            }
            .divisao {
                width: 84dvh;
                background-color: rgba(0, 0, 0, 0.1);
                height: 1px;
                
            }
            
            .dir {
                height: 50%;
                width: 100%;
                overflow-x: auto; 
                .cards {
                    width: 85%;
                    height: 24dvh;
                    .info {
                        display: flex;
                        flex-direction: row;
                        .nome-hora {
                            .nome{
                                font-size: 1.5dvh;
                            }
                            .hora{
                                margin-top: 1dvh;
                                font-size: 1.5dvh;
                            }
                            .dia{
                                margin-top: 1dvh;
                                font-size: 1.5dvh;
                            }
                        }
    
                        .servico-valor {
                            margin-top: 1dvh;
                           .serv{
                                font-size: 1.5dvh;
                                font-weight: 600;
                           }
                           .valor{
                                margin-top: 1dvh;
                                font-size: 1.8dvh;
                           }
                        }
                    }    
                    .botoes {
                        margin-top: 1.5dvh;
                        margin-bottom: 1.5dvh;
                        .b2 {
                            height: 3dvh; 
                            width: 10dvh; 
                            font-size: 1.6dvh;
                        }
                    }
                }
                
            }
        }
        }
    }
}