@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;900&display=swap');

.div-mae {
    display: flex;
    align-items: center;
    justify-content: center;

    .agenda {
        display: flex;
        background-color: aliceblue;
        width: 96%;
        height: 90dvh; 
        margin-top: 5dvh; 
        border-radius: 2dvh; 
        box-shadow: 0 8px 150px rgba(0, 0, 0, 0.3);
        justify-content: center;
        
        .esq2 {
            width: 50%;
            display: flex;
            align-items: center; 
            flex-direction: column;
            overflow-y: auto;
            position: relative;
        
            .casa {
                position: absolute; 
                top: 0;
                left: 0;
                height: 5dvh;
                width: 5dvh;
                margin: 1dvh;
                transition: transform 0.3s ease;
        
                &:hover {
                    transform: scale(1.1);
                }
            }
        
            .my-agenda {
                margin: 3dvh;
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
                text-align: center; 
            }

            .sem-agendamentos{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-top: 21dvh;
                .sem-agenda{
                    height: 12dvh;
                    width: 12dvh;
                }
                p{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 600;
                    text-align: center;
                    color: #8A37BB;
                    font-size: 2dvh;
                    width: 30dvh;
                    margin-top: 2dvh;
                }
                .agendar{
                    height: 4dvh;
                    width: 16dvh;
                    border-radius: 7dvh;
                    background: linear-gradient(55deg, #6f07cf 35%, #a010b3,);
                    border: none;
                    color: #fff;
                    font-size: 2dvh;
                    box-shadow: 0 8px 15px rgba(0, 26, 255, 0.3);
                    font-family: "Inter", sans-serif;
                    font-weight: 600;
                    transition: transform 1s ease;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 2dvh;
                    &:hover {
                        transform: scale(1.09); 
                    }
                }
            }
       
        .card-info {
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
            height: 17dvh; 
            width: 57dvh; 
            border-radius: 1dvh; 
            display: flex;
            flex-direction: row;
            justify-content: center; 
            align-items: center;
            margin-top: 2.7dvh;
            padding-bottom: 1dvh;

            .esq {
                display: flex;
                flex-direction: column;
                width: 120%;

                .butao {
                    display: flex;
                    
                    margin-top: 1dvh;
                    
                    .b1 {
                        height: 3dvh; 
                        width: 10dvh; 
                        border-radius: 0.9dvh; 
                        background-color: #7C57B8;
                        border: none;
                        color: #fff;
                        font-size: 1.7dvh; 
                        box-shadow: 0 8px 15px rgba(0, 26, 255, 0.3);
                        font-family: 'Roboto', sans-serif;
                        font-weight: 600;
                        transition: transform 0.3s ease;
                        margin-left: 4dvh ;
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                    .b2 {
                        height: 3dvh; 
                        width: 10dvh; 
                        border-radius: 0.9dvh; 
                        background-color: #7C57B8;
                        border: none;
                        color: #fff;
                        font-size: 1.7dvh; 
                        box-shadow: 0 8px 15px rgba(0, 26, 255, 0.3);
                        font-family: 'Roboto', sans-serif;
                        font-weight: 600;
                        transition: transform 0.3s ease;
                        margin-left: 4dvh;
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }

                .confirma {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    background-color: #14AE61;
                    width: 12dvh; 
                    text-align: center;
                    color: #eceaea;
                    border-radius: 0.4dvh; 
                    margin-left: 4dvh;
                    margin-top: 1.8dvh;
                    font-size: 1.6dvh; 
                    padding: 0.3dvh; 
                }
                .finalizada{
                    background-color: #bebebe;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    width: 12dvh; 
                    text-align: center;
                    color: #eceaea;
                    border-radius: 0.4dvh; 
                    margin-left: 4dvh;
                    margin-top: 1.8dvh;
                    font-size: 1.6dvh; 
                    padding: 0.3dvh; 
                }

                .serviço {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    font-size: 2.5dvh; 
                    margin-left: 4dvh;
                    margin-top: 2dvh;
                }
            }

            .dir {
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                .ps {
                    .p1 {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400;
                        font-size: 1.6dvh; 
                        margin-bottom: 1dvh;
                    }

                    .p2 {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 600;
                        font-size: 2.9dvh; 
                        color: #5b25b1;
                    }

                    .p3 {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400;
                        font-size: 1.6dvh; 
                        margin-top: 1dvh;
                    }
                }
            }

            .divisao2 {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #bebebe;
                height: 95%;
                width: 1px;
                margin-top: 0.6dvh;
            }
        }
    }
    .divisao{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #bebebe;
        height: 98%;
        width: 1px;
        margin-top: 0.6dvh;
    }
    .dir{
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;

        .card-info{
            display: flex;
            flex-direction: row;
            gap: 1.2dvh;
            background-color: #fff;
            padding: 1dvh;
            border-radius: 1.6dvh;
            position: absolute; 
            top: 52.6dvh;
            z-index: 1;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
            .txt{
                display: flex;
                flex-direction: column;
                gap: 0.5dvh;
                .p1{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 800;
                }
                .p2{
                    width: 34dvh;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    color: #A3A3A3;
                    font-size: 1.2dvh;
                }
            }
            img{
                height: 6dvh;
                width: 6dvh;
                border-radius: 10dvh;
                display: flex;
                align-items: center;
            }
        }
        .card-info.hidden {
    display: none;
}
    }
}
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        .modal-content {
            background: rgb(240, 240, 240);
            width: 50dvh;
            height: 20dvh;
            border-radius: 8px;
            text-align: center;

            h2{
                color: #7C57B8;
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
                margin-top: 3dvh;
                font-size: 3.2dvh;
            }
            p{
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                margin-top: 2.4dvh;
            }
            .sim{
                height: 3dvh; 
                width: 10dvh; 
                border-radius: 0.9dvh; 
                background-color: #7C57B8;
                border: none;
                color: #fff;
                font-size: 1.7dvh; 
                box-shadow: 0 8px 15px rgba(0, 26, 255, 0.3);
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
                transition: transform 0.3s ease;
                margin-top: 3dvh;
                &:hover {
                    transform: scale(1.05);
                }
            }
            .nao{
                height: 3dvh; 
                width: 10dvh; 
                border-radius: 0.9dvh; 
                background-color: #7C57B8;
                border: none;
                color: #fff;
                font-size: 1.7dvh; 
                box-shadow: 0 8px 15px rgba(0, 26, 255, 0.3);
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
                transition: transform 0.3s ease;
                margin-left: 1dvh;
                &:hover {
                    transform: scale(1.05);
                }
            }
            
        }
    }


}

@media ( max-width: 1180px ) {
    .div-mae { 
        .agenda {
            .esq2{
                .card-info {
                    height: 17dvh; 
                    width: 41dvh; 
                    margin-top: 2.7dvh;
                    padding-bottom: 1dvh;
                    .esq { 
                      width: 110%;
                        .butao {
                            margin-top: 1.5dvh;
                            .b1 {
                                height: 3dvh; 
                                width: 9dvh; 
                                font-size: 1.5dvh; 
                                margin-left: 4dvh ;
                            }
                            .b2 {
                                height: 3dvh; 
                                width: 9dvh; 
                                border-radius: 0.9dvh; 
                                font-size: 1.5dvh;
                                margin-left: 4dvh;
                            }
                        }
        
                        .confirma {
                            width: 11dvh; 
                            border-radius: 0.4dvh; 
                            margin-left: 4dvh;
                            margin-top: 1.8dvh;
                            font-size: 1.6dvh; 
                            padding: 0.2dvh; 
                        }
                        .finalizada{
                            width: 11dvh; 
                            border-radius: 0.4dvh; 
                            margin-left: 4dvh;
                            margin-top: 1.8dvh;
                            font-size: 1.6dvh; 
                            padding: 0.2dvh; 
                        }
        
                        .serviço {
                            font-size: 2dvh; 
                            margin-left: 4dvh;
                            margin-top: 2dvh;
                        }
                    }

                }
            }
            .dir{
                iframe{
                    width: 90%;
                    height: 29dvh;
                }
                .card-info{
                    padding: 1dvh;
                    border-radius: 1dvh;
                    position: absolute; 
                    top: 49.6dvh;
                    z-index: 1;
                    height: 8dvh;
                    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                    .txt{
                        gap: 0.5dvh;
                        .p1{
                            font-family: 'Roboto', sans-serif;
                            font-weight: 800;
                        }
                        .p2{
                            width: 14dvh;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 500;
                            color: #A3A3A3;
                            font-size: 1dvh;
                        }
                    }
                    img{
                    display: none;
                    }
                }
            }

        }
    }
}   
@media ( max-width: 825px ) {
    .div-mae { 
        .agenda {
            .esq2{
                width: 100%;
                img{
                    width: 4dvh;
                    height: 4dvh;   
                }
                .my-agenda{
                    text-align: center;
                    font-size: 2.9dvh;
                }
                .card-info {
                    height: 17dvh; 
                    width: 46dvh; 
                    border-radius: 1dvh; 
                    display: flex;
                    flex-direction: row;
                    margin-top: 2.7dvh;
                    padding-bottom: 1dvh;
        
                     .esq {
                       
                        width: 100%;
        
                        .butao {
                            display: flex;  
                            margin-top: 1.5dvh;
                            .b1 {
                                height: 3dvh; 
                                width: 9dvh; 
                                border-radius: 0.9dvh; 
                                font-size: 1.5dvh; 
                                margin-left: 2dvh ;
                            }
                            .b2 {
                                height: 3dvh; 
                                width: 9dvh; 
                                border-radius: 0.9dvh; 
                                font-size: 1.5dvh;
                                margin-left: 2dvh;

                            }
                        }
        
                        .confirma {
                            width: 11dvh; 
                            border-radius: 0.4dvh; 
                            margin-left: 2dvh;
                            margin-top: 0.2dvh;
                            font-size: 1.6dvh; 
                            padding: 0.2dvh; 
                        }
                        .finalizada{
                            width: 11dvh; 
                            border-radius: 0.4dvh; 
                            margin-left: 2dvh;
                            margin-top: 1.8dvh;
                            font-size: 1.6dvh; 
                            padding: 0.2dvh; 
                        }
        
                        .serviço {
                            font-size: 2dvh; 
                            margin-left: 2dvh;
                            margin-top: 1dvh;
                        }
                    }
                }
            }
            .divisao{
                display: none;
            }
            .dir{
                display: none;
            
            }

        }
    }
}   