@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rufina:wght@400;700&display=swap');

.config {
    background-color: #fff;
    height: 105vh; 
    display: flex;
    align-items: center;
    flex-direction: column;

    .header {
        width: 100%;
        img {
            width: 5.5vh;
            height: 5.5vh;
            margin: 2vh 0 0 7vh;
        }
    }

    .linha {
        width: 100%;
        height: 1px;
        background-color: #000;
        margin-top: 0.7vh;
    }

    .h1{
        font-weight: 700;
        font-family: 'Libre+Franklin ', sans-serif;
        font-size: 3.4dvh;
        margin-top: -1dvh;
    }

    .foto-cliente, .troca-nome, .box-excluir {
        border: 1px solid #afafaf;
        border-radius: 2vh;
        width: 58%;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    }

    .foto-cliente {
        height: 30vh;

        .texto-foto {
            display: flex;
            justify-content: space-between;
            height: 60%;
            align-items: center;

            .text {
                .alterar {
                    margin: 3vh;
                    font-weight: 700;
                    font-family: 'Libre+Franklin ', sans-serif;
                    font-size: 3.4dvh;
                }

                .carregar-text {
                    margin-left: 3vh;
                    font-weight: 500;
                    color: #b1afaf;
                    font-size: 2vh;
                    font-family: 'Libre+Franklin ', sans-serif;
                }
            }

            .icone {
                height: 9.7vh;
                width: 9.7vh;
                margin-right: 8dvh;
                border-radius: 100dvh;
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);  
            }
        }

        .botoes {
            background-color: #E6E6E6;
            height: 40%;
            border-radius: 0 0 2vh 2vh;
            display: flex;
            justify-content: flex-end;
            padding: 2vh;
            align-items: center;
                gap: 2vh; 
                display: flex;
                
                .b1, .b2 {
                    height: 5dvh    ;
                    width: 16vh;
                    border-radius: 0.7vh;
                    font-weight: 700;
                    transition: transform 1s ease;

                    &:hover {
                        transform: scale(1.08);
                    }
                }

                .b1 {
                    color: #FF0000;
                    border: 1px solid #FF0000;
                    font-size: 2.1dvh;
                    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
                }

                .b2 {
                    color: #fff;
                    background-color: #000;
                    border: 1px solid #000;
                    padding: 1.1vh;
                    font-size: 2dvh;
                    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
                }
            
        }
    }

    .troca-nome {
        height: 30vh;

        .exibição{
            height: 60%;
            h1{
                margin: 2vh;
                    font-weight: 700;
                    font-family: 'Libre+Franklin ', sans-serif;
                    font-size: 3.4dvh;
                    
            }
            input {
                border: 1px solid #8d8d8d;
                height: 5vh;
                width: 28dvh;
                border-radius: 10px;
                background-color: #E6E6E6;
                margin-left: 2.4dvh;
                font-weight: 700;
                font-family: 'Libre+Franklin ', sans-serif;
                font-size: 1.7dvh;
                padding: 0.5dvh;
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
            }

        }

        .botao-salvar {
            background-color: #E6E6E6;
            height: 40%;
            display: flex;
            justify-content: end;
            border-radius: 0 0 2vh 2vh;
            display: flex;
            align-items: center;
            .salvar {
                background-color: #C9C9C9;
                height: 5dvh;
                width: 16vh;
                border-radius: 0.7vh;
                font-weight: 500;
                transition: transform 1s ease;
                border: none;
                margin-right: 3dvh;
                font-size: 2.3dvh;
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
                &:hover {
                    transform: scale(1.08);
                }
            }
        }
    }
    .box-excluir {
        height: 30vh;
        margin-bottom: 0.5dvh;
        .exibição {
            height: 60%;
            h1 {
                margin: 3vh;
                font-weight: 700;
                font-family: 'Libre+Franklin', sans-serif;
                font-size: 3.4dvh;
            }
            p {
                margin-left: 3vh;
                font-weight: 500;
                color: #b1afaf;
                font-size: 2vh;
                font-family: 'Libre+Franklin', sans-serif; 
            }
        }
    
        .botao-excluir {
            background-color: #F5D2D2;
            height: 40%;
            display: flex;
            justify-content: space-between; 
            border-radius: 0 0 2vh 2vh;
            align-items: center; 
            padding: 0 3dvh; 
    
            .excluir {
                background-color: #FD4D4D;
                height: 5dvh;
                width: 16vh;
                border-radius: 0.7vh;
                font-weight: 500;
                transition: transform 1s ease;
                border: none;
                color: #fff;
                font-family: 'Libre+Franklin', sans-serif;
                font-size: 3dvh;
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
                &:hover {
                    transform: scale(1.08);
                }
            }
            p {
                font-weight: 500;
                color: #FF0000;
                font-size: 2vh;
                font-family: 'Libre+Franklin', sans-serif;
            }
        }
    }
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        .modal-content {
            background: rgb(240, 240, 240);
            width: 50dvh;
            height: 20dvh;
            border-radius: 8px;
            text-align: center; 
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 2dvh;
            p{
                font-weight: 500;
                color: #FF0000;
                font-size: 2vh;
                font-family: 'Libre+Franklin', sans-serif;
                
            }
            .botoes-modal{
                gap: 1dvh;
                button{
                background-color: #FD4D4D;
                height: 3dvh;
                width: 10vh;
                border-radius: 0.7vh;
                font-weight: 500;
                transition: transform 1s ease;
                border: none;
                color: #fff;
                font-family: 'Libre+Franklin', sans-serif;
                font-size: 2dvh;
                margin-left: 1dvh;
                &:hover {
                    transform: scale(1.08);
                }
                }
            }
         }

        }

        .modal-overlay-sucesso{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            .modal-content-sucesso{
                background: rgb(240, 240, 240);
                width: 50dvh;
                height: 20dvh;
                border-radius: 8px;
                text-align: center; 
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 2dvh;
                p{
                    font-weight: 500;
                    color: #aaaaaa;
                    font-size: 2.3vh;
                    font-family: 'Libre+Franklin', sans-serif;
                }
                button{
                background-color: #252525;
                height: 5dvh;
                width: 16vh;
                border-radius: 0.7vh;
                font-weight: 500;
                transition: transform 1s ease;
                border: none;
                color: #fff;
                font-family: 'Libre+Franklin', sans-serif;
                font-size: 3dvh;
                margin-left: 17.7dvh;
                &:hover {
                    transform: scale(1.08);
                }
                }
            }
        }
}

@media  (max-width: 1055px) {
    .config{ 
        .h1{
            font-size: 3.1dvh;
        }
        .foto-cliente, .troca-nome, .box-excluir {
            border: 1px solid #afafaf;
            width: 67%;
            margin-top: 4.3vh;
        }

        .foto-cliente {
            height: 28vh;
            .texto-foto {
                height: 60%;
                align-items: center;
    
                .text {
                    .alterar {
                        margin: 2.7vh;
                        font-size: 3.1dvh;
                    }
                    .carregar-text {
                        margin-left: 3vh;
                        font-size: 1.7vh;
                    }
                }
    
                .icone {
                    height: 9.4vh;
                    width: 9.4vh;
                    margin-right: 8dvh;
                }
            }
            .botoes {
                height: 40%;
                padding: 2vh;
                .classB {
                    gap: 2vh; 
                    .b1, .b2 {
                        height: 5dvh    ;
                        width: 15vh;
                    }
                    .b1 {
                        font-size: 2dvh;
                    }
                    .b2 {
                        padding: 1.1vh;
                        font-size: 1.8dvh;
                    }
                }
            }
        }
        .troca-nome {
            height: 28vh;
            .exibição{
                height: 60%;
                h1{
                    margin: 2vh;
                    font-size: 3dvh;
                }
                input {
                    height: 5vh;
                    width: 26dvh;
                    margin-left: 2.4dvh;
                    font-size: 1.7dvh;
                }
    
            }
            .botao-salvar {
                .salvar {
                    height: 5dvh;
                    width: 15vh;
                    margin-right: 3dvh;
                    font-size: 2.1dvh;
                    &:hover {
                        transform: scale(1.08);
                    }
                }
            }
        }
        .box-excluir {
            height: 28vh;
            .exibição {
                height: 60%;
                h1 {
                    margin: 3vh;
                    font-size: 3dvh;
                }
                p {
                    margin-left: 3vh;
                    font-size: 1.7vh;
                }
            }
        
            .botao-excluir {
                height: 40%;
                align-items: center; 
                padding: 3dvh; 
                .excluir {
                    background-color: #FD4D4D;
                    height: 5dvh;
                    width: 15vh;
                    border-radius: 0.6vh;
                    font-size: 3dvh;
                }
                p {
                    font-size: 1.8vh;
                }
            }
        }
        

    }
}

@media  (max-width: 816px) {
    .config{ 
        .h1{
            font-size: 3.1dvh;
        }
        .foto-cliente, .troca-nome, .box-excluir {
            border: 1px solid #afafaf;
            width: 79%;
            margin-top: 4.3vh;
        }

        .foto-cliente {
            height: 24vh;
            .texto-foto {
                height: 60%;
                align-items: center;
    
                .text {
                    .alterar {
                        margin: 2.5vh;
                        font-size: 3.1dvh;
                    }
                    .carregar-text {
                        margin-left: 3vh;
                        font-size: 1.5vh;
                    }
                }
    
                .icone {
                    height: 8vh;
                    width: 8vh;
                    margin-right: 3dvh;
                }
            }
            .botoes {
                height: 40%;
                padding: 2vh;
                .classB {
                    gap: 2vh; 
                    .b1, .b2 {
                        height: 4dvh    ;
                        width: 13vh;
                    }
                    .b1 {
                        font-size: 1.7dvh;
                    }
                    .b2 {
                        padding: 1vh;
                        font-size: 1.65dvh;
                    }
                }
            }
        }
        .troca-nome {
            height: 24vh;
            .exibição{
                height: 60%;
                h1{
                    margin: 2vh;
                    font-size: 2.8dvh;
                }
                input {
                    height: 5vh;
                    width: 24dvh;
                    margin-left: 2.4dvh;
                    font-size: 1.6dvh;
                }
    
            }
            .botao-salvar {
                .salvar {
                    height: 4dvh;
                    width: 13vh;
                    margin-right: 3dvh;
                    font-size: 2.1dvh;
                    &:hover {
                        transform: scale(1.08);
                    }
                }
            }
        }
        .box-excluir {
            height: 24vh;
            .exibição {
                height: 60%;
                h1 {
                    margin: 3vh;
                    font-size: 3dvh;
                }
                p {
                    margin-left: 3vh;
                    font-size: 1.58vh;
                }
            }
        
            .botao-excluir {
                height: 40%;
                align-items: center; 
                padding: 3dvh; 
                .excluir {
                    height: 4dvh;
                    width: 13vh;
                    border-radius: 0.6vh;
                    font-size: 2.2dvh;
                }
                p {
                    font-size: 1.8vh;
                }
            }
        }
        

    }
}

@media  (max-width: 580px) {
    .config{ 
        .h1{
            font-size: 3.1dvh;
        }
        .foto-cliente, .troca-nome, .box-excluir {
            border: 1px solid #afafaf;
            width: 90%;
            margin-top: 4.3vh;
        }

        .foto-cliente {
            height: 24vh;
            .texto-foto {
                height: 60%;
                align-items: center;
    
                .text {
                    .alterar {
                        margin: 2.2vh;
                        font-size: 2.7dvh;
                    }
                    .carregar-text {
                        margin-left: 3vh;
                        font-size: 1.3vh;
                    }
                }
    
                .icone {
                    height: 7vh;
                    width: 7vh;
                    margin-right: 3dvh;
                }
            }
            .botoes {
                height: 40%;
                padding: 2vh;
                .classB {
                    gap: 2vh; 
                    .b1, .b2 {
                        height: 4dvh    ;
                        width: 13vh;
                    }
                    .b1 {
                        font-size: 1.7dvh;
                    }
                    .b2 {
                        padding: 1vh;
                        font-size: 1.65dvh;
                    }
                }
            }
        }
        .troca-nome {
            height: 24vh;
            .exibição{
                height: 60%;
                h1{
                    margin: 2vh;
                    font-size: 2.8dvh;
                }
                input {
                    height: 5vh;
                    width: 24dvh;
                    margin-left: 2.4dvh;
                    font-size: 1.6dvh;
                }
    
            }
            .botao-salvar {
                .salvar {
                    height: 4dvh;
                    width: 13vh;
                    margin-right: 3dvh;
                    font-size: 2.1dvh;
                    &:hover {
                        transform: scale(1.08);
                    }
                }
            }
        }
        .box-excluir {
            height: 24vh;
            .exibição {
                height: 60%;
                h1 {
                    margin: 3vh;
                    font-size: 3dvh;
                }
                p {
                    margin-left: 3vh;
                    font-size: 1.58vh;
                }
            }
        
            .botao-excluir {
                height: 40%;
                align-items: center; 
                padding: 3dvh; 
                .excluir {
                    height: 4dvh;
                    width: 13vh;
                    border-radius: 0.6vh;
                    font-size: 2.2dvh;
                }
                p {
                    font-size: 1.8vh;
                }
            }
        }
        

    }
}